[Unit]
Description=Telepathy connection manager for cellular
After=dbus.socket pre-user-session.target
Requires=dbus.socket

[Service]
Type=dbus
BusName=org.freedesktop.Telepathy.ConnectionManager.ring
ExecStart=/usr/bin/telepathy-ring
Restart=always
OOMScoreAdjust=-500
