[Unit]
Description=Communication history daemon
# lipstick.service needed for org.freedesktop.Notifications
After=graphical-session-pre.target lipstick.service
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/commhistoryd
Restart=always

[Install]
WantedBy=graphical-session.target
