[Unit]
Description=check accounts for messageserver5
After=lipstick.service
Before=messageserver5.service

[Service]
Type=oneshot
ExecStart=/usr/bin/qmf-accountscheck

[Install]
WantedBy=user-session.target
